@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
$lato: "Lato";
$open-sans: "Roboto";
body {
  margin: 0;
  font-family: $lato, $open-sans;
  // font-family: ui-rounds;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  // width: 1188px;
  max-width: 1230px !important;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
.react-multiple-carousel__arrow {
  background: none !important;
}
.react-multiple-carousel__arrow::before {
  color: #666 !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 0px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 0px) !important;
}
.react-multi-carousel-item {
  width: 227.5px !important;
  margin: 0 1rem 0 0;
}
.react-multi-carousel-list {
  padding-bottom: 1rem !important;
}
