@import "variable";

header {
  position: sticky;
  top: 0;
  z-index: 9;

  // top navigation scss
  .header-top {
    background-color: $primaryColor;
    height: 6rem;
    .header-top-contain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;
      .logo {
        cursor: pointer;
        color: $white;
        text-decoration: none;
      }

      .inline-form {
        display: flex;
        .form-control {
          display: block;
          width: 38rem;
          height: calc(1.5em + 0.75rem + 7px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: $white;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        $layout-breakpoint-very-small: 12200px;

        @media (max-width: $layout-breakpoint-very-small) {
          .form-control {
            width: 30rem;
          }
        }

        .search-btn {
          padding: 0.45rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: 0.25rem;
          color: $white;
          background-color: $secondaryColor;
          // border-color: $green;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: none;
        }
      }
      $layout-breakpoint-small: 960px;

      @media (max-width: $layout-breakpoint-small) {
        .inline-form {
          display: none;
        }
      }
      .group-cart {
        display: flex;
        width: 15.4rem;
        justify-content: space-between;
        align-items: center;
        color: $white;
        .icons {
         
          cursor: pointer;
          position: relative;
          width: 2rem;
          height: 2rem;
          .count-cart {
            font-size: 0.65rem;
            line-height: 2.1;
            position: absolute;
            top: -0.3rem;
            right: -0.3rem;
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            text-align: center;
            color: $white;
            border-radius: 100%;
            background-color: $secondaryColor;
            z-index: 1;
          }
          .icon {
            position: absolute;
            font-size: 2rem;
            line-height: 2.4;
          }
        }
        .dropdown:focus-visible {
          outline: none;
        }

        .cart_dropdown:focus {
          box-shadow: none;
        }
        .cart_dropdown:focus-visible {
          outline: none !important;
        }
        .dropdown-toggle::after {
          content: none;
        }
        .cart_manu {
          position: absolute;
          inset: 0px auto auto 0px;
          transform: translate(-230px, 34px) !important;
          min-width: 25rem !important;
          box-shadow: 0px 5px 30px black;
          .cart_total_info {
            display: flex;
            justify-content: space-between;
          }
          .cart_product {
            display: flex;
            padding: 0 3rem;
            align-items: center;

            .cart_product_image {
              width: 4rem;
              height: 4rem;
            }
            .cart_product_info {
              margin-left: 2rem;
              .cart_product_name {
                font-size: 1rem;
                font-weight: 500;
              }
              .cart_product_price {
                width: 12rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .cart_price {
                  font-size: 0.8rem;
                  color: red;
                }
                .cart_quentity {
                  font-size: 0.9rem;
                  color: rgb(173, 169, 169);
                }
              }
            }
          }
          .cart_link_button {
            display: flex;
            justify-content: space-between;
            padding: 0 3rem;
            .view_cart {
              border: 2px solid rgb(31, 31, 228);
              padding: 0.5rem 2rem;
              background: rgb(31, 31, 228);
              border-radius: 4rem;
              color: white;
              font-size: 1rem;
              font-weight: 600;
            }
            .check_out {
              border: 2px solid #2bbfe0;
              padding: 0.5rem 2rem;
              background: #2bbfe0;
              border-radius: 4rem;
              color: white;
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
        .cart_manu::before {
          content: " ";
          position: absolute;
          top: -20px;
          right: 129px;
          border: 10px solid transparent;
          border-bottom-color: #fff;
        }

        .price-cart {
          text-align: center;
    border: 1px solid;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: white;
    color:$primaryColor;
    cursor: pointer;
    .upload-icon{
      font-size: 1.3rem;
      margin-right: 0.2rem;
    }
    span{
      font-weight: 700;
    }
        }
      }
    }
  }
  // main navigatin scss
  .header-main {
    background-color: rgb(247, 244, 244);
    height: 2.5rem;
      .small-form {
        display: none;
      }
      $layout-breakpoint-very-small: 970px;

      @media (max-width: $layout-breakpoint-very-small) {
        .small-form {
          display: flex;
          margin-left:2em;

          .small-d-control {
            padding: 0.3em;
            width: 100%;

            border-top-right-radius: calc(0rem - 0px);
            border-bottom-right-radius: calc(0rem - 0px);
          }

          .small-d-search {
            border-top-left-radius: calc(0rem - 0px);
            border-bottom-left-radius: calc(0rem - 0px);
          }
        }
      }
    .navbar {
      // background-color: #222;
      border-radius: 2px;
      padding: 0;
      height: 2.5rem;
      .navbar-collapse {
        justify-content: space-between;
        .nav-link{
          padding: 0 1rem;
        }
      }

    
      .banner-section {
        margin: 0.7em 0;
      }

      .dropdown {
        .button-custom {
          border: none;
          // background-color: $green;
          color: $black;
          // height: 3.5rem;
          border-radius: 0.1rem;
          text-transform: uppercase;
          font-size: 1rem;
          padding: 0;
          .category-icon {
            font-size: 1.7rem;
            font-weight: bold;
            margin: 0 0.4em 0 0;
          }
        }

        .dropdown-toggle::after {
          content: none;
        }
      }
      .nav-contain {
        // padding: 0 2em 0 8.5em;
        .nav-link {
          color: #4e4848 !important;
          text-transform: uppercase;
          font-size: 0.9rem;
          // font-weight: bold;
          margin: 0 0.5em;
        }
      }
      .nav-login {
        text-align: right;
        .profile-dropdown{
          background:none;
          color: #4e4848 !important;
          border: none !important;
        }
        .dropdown-menu{
left: -69px ;
        }
        .profile-dropdown:focus{
          box-shadow: none !important;
        }
        .login-icon {
          margin-bottom: 0.2em;
        }
      }
    }
  }


  $layout-breakpoint-very-small: 970px;

  @media (max-width: $layout-breakpoint-very-small) {
    .m-bar{
      display: flex;
    }
.navbar{
  width: 3rem;
}
    .navbar-light .navbar-toggler-icon {
      background-color: $white;
    
      .nav-login{
          text-align: left;
        }

    }
      .navbar-collapse {
        display: block;
        background-color: white !important;
        .navbar-nav {
          width: 20rem;
          padding: 1rem 0;
        }
       
      }
     
    .small-form {
      display: block;
    }
  }
}

.button-custom {
  border: none;
  background-color: green;
  color: white;
  height: 3.5rem;
  border-radius: 0.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  .category-icon {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 0.4em;
  }
  .dropdown-toggle::after {
    content: none;
  }
}

.main-navigation{
  padding-left: 0 !important;

  list-style: none;
  padding: 0.4rem;
  margin: 0 !important;
  


 

  

  li {
    display: block;
    position: relative;
    float: left;
    
    
   
    span {
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.36rem;
      cursor: pointer;
      .category-icon {
        margin: 0 0.6rem 0 0.2rem;
        font-size: 1.3rem;
      }
    }
    ul {
      display: none;
      min-width: 11rem;
      padding: 0.3rem 0 !important;
      background-color: $white;
      border: 1px solid rgb(228, 226, 226);
      margin-top: 0.36rem;
     
    
     

      li {
        a {
          display: block;
          text-decoration: none;
          // white-space: nowrap;
          color: rgb(56, 54, 54);
          padding: 0.3rem 1rem;
          width: 100%;

        }
      }
    }
  }
}

/* This hides the dropdowns */
/* Display the dropdown */

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  background: white;
}

li:hover li a:hover {
  background: yellow;
}

.main-navigation li ul li {
  border-top: 0;
}

/* Displays second level dropdowns to the right of the first level dropdown */

ul
 ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */

// ul:before,
// ul:after {
//   content: " "; /* 1 */
//   display: table; /* 2 */
// }

ul:after {
  clear: both;
}


